<div id="<%= dom_id dato %>">
  <p>
    <strong>Field1:</strong>
    <%= dato.field1 %>
  </p>

  <p>
    <strong>Field2:</strong>
    <%= dato.field2 %>
  </p>

  <p>
    <strong>Field3:</strong>
    <%= dato.field3 %>
  </p>

  <p>
    <strong>Field4:</strong>
    <%= dato.field4 %>
  </p>

  <p>
    <strong>Field5:</strong>
    <%= dato.field5 %>
  </p>

  <p>
    <strong>Field6:</strong>
    <%= dato.field6 %>
  </p>

</div>
