<div id="<%= dom_id dato %>">
<p>
    <strong>Modulo:</strong>
    <%= dato.modulo %>
  </p>
  <p>
    <strong>sensor1:</strong>
    <%= dato.sensor1 %>
  </p>

  <p>
    <strong>sensor2:</strong>
    <%= dato.sensor2 %>
  </p>

  <p>
    <strong>sensor3:</strong>
    <%= dato.sensor3 %>
  </p>

  <p>
    <strong>sensor4:</strong>
    <%= dato.sensor4 %>
  </p>

  <p>
    <strong>sensor5:</strong>
    <%= dato.sensor5 %>
  </p>

  <p>
    <strong>sensor6:</strong>
    <%= dato.sensor6 %>
  </p>
  <p>
    <strong>sensor7:</strong>
    <%= dato.sensor7 %>
  </p>
  <p>
    <strong>sensor8:</strong>
    <%= dato.sensor9 %>
  </p>
  <p>
    <strong>sensor9:</strong>
    <%= dato.sensor9 %>
  </p>
  <p>
    <strong>sensor10:</strong>
    <%= dato.sensor10 %>
  </p>
  <p>
    <strong>sensor11:</strong>
    <%= dato.sensor11 %>
  </p>
  <p>
    <strong>sensor12:</strong>
    <%= dato.sensor12 %>
  </p>
  <p>
    <strong>sensor13:</strong>
    <%= dato.sensor13 %>
  </p>
  <p>
    <strong>sensor14:</strong>
    <%= dato.sensor14 %>
  </p>
  <p>
    <strong>sensor15:</strong>
    <%= dato.sensor15 %>
  </p>
  <p>
    <strong>sensor16:</strong>
    <%= dato.sensor16 %>
  </p>
  <p>
    <strong>sensor17:</strong>
    <%= dato.sensor17 %>
  </p>
  <p>
    <strong>sensor18:</strong>
    <%= dato.sensor18 %>
  </p>


</div>
