<%= form_with(model: dato) do |form| %>
  <% if dato.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dato.errors.count, "error") %> prohibited this dato from being saved:</h2>

      <ul>
        <% dato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Modulo, style: "display: block" %>
    <%= form.text_field :modulo %>
  </div>

  <div>
    <%= form.label :Sensor_1_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor1 %>
  </div>
  <div>
    <%= form.label :Sensor_2_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor2 %>
  </div>
  <div>
    <%= form.label :Sensor_3_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor3 %>
  </div>
  <div>
    <%= form.label :Sensor_4_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor4 %>
  </div>
  <div>
    <%= form.label :Sensor_5_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor5 %>
  </div>
  <div>
    <%= form.label :Sensor_6_temp_celcius, style: "display: block" %>
    <%= form.number_field :sensor6 %>
  </div>
  <div>
    <%= form.label :Sensor_7_humedad, style: "display: block" %>
    <%= form.number_field :sensor7 %>
  </div>
  <div>
    <%= form.label :Sensor_8_corriente, style: "display: block" %>
    <%= form.number_field :sensor8 %>
  </div>
  <div>
    <%= form.label :Sensor_9_corriente, style: "display: block" %>
    <%= form.number_field :sensor9 %>
  </div>
  <div>
    <%= form.label :Sensor_10_corriente, style: "display: block" %>
    <%= form.number_field :sensor10 %>
  </div>
  <div>
    <%= form.label :Sensor_11_psi, style: "display: block" %>
    <%= form.number_field :sensor11 %>
  </div>
  <div>
    <%= form.label :Sensor_12_psi, style: "display: block" %>
    <%= form.number_field :sensor12 %>
  </div>
  <div>
    <%= form.label :Sensor_13_vibración, style: "display: block" %>
    <%= form.number_field :sensor13 %>
  </div>
  <div>
    <%= form.label :Sensor_14_alarma, style: "display: block" %>
    <%= form.number_field :sensor14 %>
  </div>
  <div>
    <%= form.label :Sensor_15_alarma, style: "display: block" %>
    <%= form.number_field :sensor15 %>
  </div>
  <div>
    <%= form.label :Sensor_16_alarma, style: "display: block" %>
    <%= form.number_field :sensor16 %>
  </div>
  <div>
    <%= form.label :Sensor_17_alarma, style: "display: block" %>
    <%= form.number_field :sensor17 %>
  </div>
  <div>
    <%= form.label :Sensor_18_alarma, style: "display: block" %>
    <%= form.number_field :sensor18 %>
  </div>




  <div>
    <%= form.submit %>
  </div>
<% end %>
